<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Players</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Manage Players</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list inset>
    @if ($currentPlayers | async; as currentPlayers) {
      @if (currentPlayers.length) {
        @for (player of currentPlayers; track player) {
          <ion-item>
            <ion-label>{{ player.name }}</ion-label>
            <ion-button fill="clear" color="danger" (click)="removePlayer(player.name)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        }
      } @else {
        <ion-item>
          <ion-text>No players have been created.</ion-text>
        </ion-item>
      }

    }
  </ion-list>

  <ion-modal trigger="add-new-player" id="add-player-modal" (didDismiss)="dismissAlert()" #newPlayerModal>
    <ng-template>
      <div style="padding: 1rem 1rem .25rem 1rem;">
        <div>
          <ion-item>
            <ion-input placeholder="player name" (keydown)="addNewPlayer($event.key)" #nameInput></ion-input>
          </ion-item>
          <div style="display: flex; margin-top: .5rem; justify-content: space-between">
            <ion-button size="small" fill="clear" color="medium" (click)="newPlayerModal.dismiss(null, 'cancel')">Close</ion-button>
            <ion-button size="small" fill="clear" color="primary" (click)="addNewPlayer('Enter')">Add</ion-button>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>

</ion-content>

<ion-footer class="ion-padding">
  <ion-buttons style="justify-content: space-around">
    <ion-button color="success" id="add-new-player" expand="block" fill="clear">
      <ion-icon slot="start" name="person-add"></ion-icon>
      <ion-label>New Player</ion-label>
    </ion-button>
  </ion-buttons>
</ion-footer>
