<ion-header>
  <div class="header-row">
    <div class="next-player ion-text-uppercase">
      <ion-note class="ion-text-uppercase">Next</ion-note>
      <ion-text style="font-size: 1.4rem" color="warning">{{ playService.currPlayer }}</ion-text>
    </div>
    @if (activeGame?.citiesAndKnights) {
      <div class="ion-text-center ion-text-uppercase" style="align-items: center; grid-column: 2;">
        <div style="font-size: 2.25rem; font-weight: bold">{{ lastRoll?.total }}</div>
      </div>
    }
    <div class="prev-player ion-text-end ion-text-uppercase" style="grid-column: 3;">
      <ion-note>Prev</ion-note>
      @if (activeGame?.rolls?.length) {
        <ion-text style="font-size: 1.4rem">{{ playService.prevPlayer }}</ion-text>
      }
    </div>
  </div>
</ion-header>

<ion-content (click)="rollDice()" [fullscreen]="true" class="ion-padding">
  <div class="dice-container">
    @if (activeGame?.citiesAndKnights) {
      <app-action-dice [action]="lastRoll?.action" [@jiggleGold]="isRolling ? 'active' : ''"></app-action-dice>
    }
    <app-dice [number]="lastRoll?.dice1" color="red" [@jiggleRed]="isRolling ? 'active' : ''"></app-dice>
    @if (!activeGame?.citiesAndKnights) {
      <ion-text class="center-roll-total">{{ lastRoll?.total }}</ion-text>
    }
    <app-dice [number]="lastRoll?.dice2" color="gold" [@jiggleGold]="isRolling ? 'active' : ''"></app-dice>
  </div>
</ion-content>

@if (activeGame?.citiesAndKnights) {
  <ion-fab horizontal="end" style="margin-top: 5rem;">
    @if (playService.barbarianCount <= 0) {
      <ion-fab-button style="--background: rgb(0, 0, 0, .20); --color: var(--ion-color-medium);">
        <ion-icon name="skull" style="position: absolute; font-size: 4em;"></ion-icon>
      </ion-fab-button>
    } @else {
      <ion-fab-button style="--background: rgb(0, 0, 0, .20); --color: var(--ion-color-dark);">
        <ion-icon name="skull" style="position: absolute; font-size: 4em;"></ion-icon>
        <ion-text style="position: absolute; top: .15em; font-weight: 800; font-size: 1.25em;"
                  color="danger">{{ playService.barbarianCount | number }}
        </ion-text>
      </ion-fab-button>
    }
  </ion-fab>
}

<ion-footer>
  <div class="button-row">
    <ion-button fill="clear" color="medium" [routerLink]="['/reports', activeGame?.id]" size="large"
                aria-label="Show reports">
      <ion-icon slot="icon-only" name="bar-chart"></ion-icon>
    </ion-button>
    @if (activeGame?.citiesAndKnights) {
      <ion-button fill="clear" color="medium" size="large" aria-label="Alchemy selection" id="present-alchemy-modal">
        <ion-icon slot="icon-only" name="flask"></ion-icon>
      </ion-button>

      <ion-modal #alchemyModal (didDismiss)="confirmAlchemyModal($event)"
                 style="--height: auto; --width: auto;"
                 trigger="present-alchemy-modal">
        <ng-template>
          <div class="modal-content">
            <ion-header>
              <ion-toolbar>
                <ion-title>Alchemist</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="alchemyModal.dismiss(null, 'cancel')">
                    <ion-icon name="close"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding" style="box-sizing: border-box;">
              <div class="picker-container">
                <app-number-picker color="danger" #red></app-number-picker>
                <app-number-picker color="warning" #gold></app-number-picker>
                <ion-button class="ion-margin picker-confirm" color="dark" role="button"
                            (click)="alchemyModal.dismiss({red: red.value, gold: gold.value}, 'confirm')">
                  <ion-label>Roll Action</ion-label>
                </ion-button>
              </div>
            </ion-content>
          </div>
        </ng-template>
      </ion-modal>

    }
    <ion-button fill="clear" color="medium" id="present-settings" size="large" aria-label="Show app settings">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </div>
  <ion-action-sheet (didDismiss)="closeActionSheet($event)" trigger="present-settings"
                    [buttons]="actionSheetButtons"></ion-action-sheet>
</ion-footer>
