<ion-header>
  <div class="header-row">
    <div class="next-player ion-text-uppercase">
      <ion-note class="ion-text-uppercase">Next</ion-note>
      <ion-text style="font-size: 1.4rem" color="warning">{{playService.currPlayer}}</ion-text>
    </div>
    @if (activeGame?.citiesAndKnights) {
      <div class="ion-text-center ion-text-uppercase" style="align-items: center; grid-column: 2;">
        <div style="font-size: 2.25rem; font-weight: bold">{{lastRoll?.total}}</div>
      </div>
    }
    <div class="prev-player ion-text-end ion-text-uppercase" style="grid-column: 3;">
      <ion-note>Prev</ion-note>
      @if (activeGame?.rolls?.length) {
        <ion-text style="font-size: 1.4rem">{{playService.prevPlayer}}</ion-text>
      }
    </div>
  </div>
</ion-header>

<ion-content (click)="rollDice()" [fullscreen]="true" class="ion-padding">
  <div class="dice-container">
    @if (activeGame?.citiesAndKnights) {
      <app-action-dice [action]="lastRoll?.action" [@jiggleGold]="isRolling ? 'active' : ''"></app-action-dice>
    }
    <app-dice [number]="lastRoll?.dice1" color="red" [@jiggleRed]="isRolling ? 'active' : ''"></app-dice>
    @if (!activeGame?.citiesAndKnights) {
      <ion-text class="center-roll-total">{{lastRoll?.total}}</ion-text>
    }
    <app-dice [number]="lastRoll?.dice2" color="gold" [@jiggleGold]="isRolling ? 'active' : ''"></app-dice>
  </div>
</ion-content>

<ion-footer>
  <div class="button-row">
    <ion-button fill="clear" color="medium" [routerLink]="['/reports', activeGame?.id]" size="large">
      <ion-icon slot="icon-only" name="bar-chart"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="medium" id="present-settings" size="large">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </div>
  <ion-action-sheet (didDismiss)="closeActionSheet($event)" trigger="present-settings" [buttons]="actionSheetButtons"></ion-action-sheet>
</ion-footer>
