<ion-content [fullscreen]="true">
  <div id="landing-container" class="ion-text-center">

    <div id="landing-text">
      <div id="title-row">
        <ion-text>
          <h1>Catan</h1>
        </ion-text>
      </div>
      <ion-text color="medium">
        <h3>Companion</h3>
      </ion-text>
    </div>

    <div id="dice">
      <img src="assets/icon/logo.png" alt="dice logo">
<!--      <ion-icon name="dice-outline" size="large" color="warning"></ion-icon>-->
<!--      <ion-icon name="dice-outline" size="large" color="danger"></ion-icon>-->
    </div>

    <div id="landing-buttons">
      <ion-button color="primary" shape="round" expand="block" size="large" href="select-players">
        Play
      </ion-button>
      <ion-button size="large" fill="clear" expand="block" shape="round" id="settings">
        Options
      </ion-button>
    </div>

  </div>

  <ion-action-sheet (didDismiss)="closeActionSheet($event)" trigger="settings" [buttons]="actionSheetButtons"></ion-action-sheet>

</ion-content>
