<ion-content [fullscreen]="true">
  <div class="ion-text-center landing-container">

    <div class="landing-text">
      <div class="title-row">
        <ion-text color="warning">
          <h1>Catan</h1>
        </ion-text>
      </div>
      <ion-text color="medium">
        <h3>Companion</h3>
      </ion-text>
    </div>

    <div class="dice">
      <img src="assets/icon/logo.png" alt="dice logo">
    </div>

    <div class="landing-buttons">
      <ion-button size="large" color="warning" shape="round" expand="block" href="select-players">
        Play
      </ion-button>
      <ion-button size="large" color="warning" fill="clear" expand="block" shape="round" id="settings">
        Options
      </ion-button>
    </div>

  </div>

  <ion-action-sheet (didDismiss)="closeActionSheet($event)" trigger="settings" [buttons]="actionSheetButtons"></ion-action-sheet>

</ion-content>
