h1 {
  font-size: 24vw;
  line-height: 14vw;
  letter-spacing: 0.4rem;
  font-weight: 700;
  font-family: "Crimson Pro", serif;
}

h3 {
  font-size: 5vw;
  text-transform: uppercase;
  letter-spacing: .5rem;
}


.landing-container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  height: 100svh;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
}

.landing-container::before {
  content: url('/assets/catan-background.webp');
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}

.landing-text {
  grid-row: 1;
  align-self: center;
  z-index: 10;
}

.dice > img {
  width: 50svw;
  height: auto;
}

.landing-buttons {
  grid-row: 3;
  align-self: end;
  justify-self: center;
  width: 100%;
  max-width: 75vw;

}


@media screen and (orientation: landscape) {

  .landing-container {
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 4em;
  }

  .dice {
    display: none;
  }

  .landing-text {
    grid-row: 1;
    align-self: end;
  }

  h1 {
    font-size: 24vh;
    line-height: 14vh;
  }

  h3 {
    font-size: 5vh;
  }

  .landing-buttons {
    width: 100%;
    max-width: 75vh;
    grid-row: 2;
    align-self: start;
  }

}
